<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustResize"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Android">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBGPletDxQfCYv9zilk_HR9ScM96A5cwss" />
        <meta-data
            android:name="GOOGLE_WEB_CLIENT_ID"
            android:value="777173229835-q572kphfh24h8sl5j52iu3m4vgrri6f3.apps.googleusercontent.com" />
        <!-- <meta-data
            android:name="BACKEND_BASE_URL"
            android:value="http://10.0.2.2:8000/" /> -->
        <meta-data
            android:name="BACKEND_BASE_URL"
            android:value="http://127.0.0.1:8000/" />

        <activity
            android:name="com.traffic_guard.ai.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
